<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}- {{ site.title }}</title>
	{% include meta-icon-link.md %}
</head>
<body>
<div id="container">
      <div class="inner">
      
{% include header.md %}
					<h2>{{ page.title }}</h2>

				{{ content }}

				<ul class="pager">
					{% if page.previous %}
					<li class="previous"><a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>
					{% else %}
					<li class="previous disabled">
					<a href="#">没有了</a>
					</li>
					{% endif %}
					{% if page.next %}
					<li class="next">
					<a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
					</li>
					{% else %}
					<li class="next disabled">
					<a href="{{ page.next.url }}">没有了</a>
					</li>
					{% endif %}
				</ul>
	</div>
</div>

{% include footer.md %}
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>